@{
    ViewBag.Title = "Thank You";
}

<h2>Thank you</h2>
<br />
Thank you for your order. Your purchase helps fund the children in Africa.
<br />
<br />
Your Order Id = <strong>@ViewBag.OrderId</strong>
